body{
  margin: 0;
  padding: 0                                                                                                ;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; 
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gainsboro; 
}